body {
  margin: 0;
  font-family: Georgia, serif;
  background-color: #2e1f12;
  color: #fff8dc;
}

/* HEADER */

header {
  text-align: center;
  padding: 20px;
  background-color: #3b2a1a;
  position: relative;
}

header h1 {
  font-size: 3em;
  color: #FFD700;
  margin: 0;
  font-style: italic;
}

header h2 {
  font-size: 1em;
  color: #f5deb3;
  margin-top: 5px;
  font-style: italic;
}

/* OFFER */

.offer {
  position: absolute;
  left: 20px;
  top: 80px;
  color: #FFD700;
  font-weight: bold;
}

/* BUTTON */

.order-btn {
  position: absolute;
  right: 20px;
  top: 80px;
  background-color: #FFD700;
  color: #2e1f12;
  padding: 10px 20px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.order-btn:hover {
  background-color: white;
}

/* NAVBAR */

nav {
  background-color: #4a3220;
  padding: 10px;
  text-align: center;
}

nav a {
  color: #fff8dc;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
}

nav a:hover {
  color: #FFD700;
}
/* HERO IMAGE */

.hero img {
  width: 100%;
  height: 912px;
  object-fit: cover;
}
/* SPECIAL SECTION */

.special-section{
  padding: 50px;
  text-align: center;
}

.special-section h2{
  color: #FFD700;
  font-size: 35px;
  margin-bottom: 40px;
}

/* CARD CONTAINER */

.card-container{
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

/* CARD */

.card{
  background-color: #3b2a1a;
  width: 300px;
  border-radius: 15px;
  overflow: hidden;
  transition: 0.3s;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

/* HOVER EFFECT */

.card:hover{
  transform: scale(1.05);
}

/* CARD IMAGE */

.card img{
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* CARD TEXT */

.card h3{
  color: #FFD700;
  margin-top: 15px;
}

.card p{
  padding: 15px;
  line-height: 25px;
  color: #fff8dc;
}
/* STORY SECTION */

.story-card{
  width: max-content;
  margin: 0 auto;

  max-width: 900px;
  align-items: center;
  min-height: 350px;   /* IMPORTANT: gives image space */
  padding: 60px 40px;  /* more breathing room */

  border-radius: 20px;
  text-align: center;

  background-image: url("Images/Cafe\ Environment\ 3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  overflow: hidden;

  box-shadow: 0 8px 25px rgba(0,0,0,0.5);

}
.story-card p{
color: #f8f1e3;
  line-height: 30px;
  font-size: 18px;
  margin-bottom: 20px;
}
/* SIMPLE SECTIONS */

.simple-section {
  padding: 20px;
}

.simple-section h2 {
  color: #FFD700;
}

/* MENU SECTIONS */

.menu-section {
  padding: 40px;
  margin: 20px;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

/* BACKGROUND IMAGES */

.coffee-bg {
  background-image: url("images/Coffee\ 6.png");
}

.cupcake-bg {
  background-image: url("images/Cupcakes\ 2.png");
}

.brownie-bg {
  background-image: url("images/Brownies.png");
}

.cookie-bg {
  background-image: url("Images/cookies\ 2.png");
}

/* MENU ITEMS */

.item {
  margin: 10px 0;
  font-size: 18px;
}

.price {
  float: right;
}

/* FOOTER */

footer {
  background-color: #3b2a1a;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  font-size: 0.9em;
  color: #FFD700;
}